<div class="my-5 row justify-content-center">
  <h1 class="text-center">정보수정</h1>
  <form
    name="frm"
    class="col-md-6 card p-3"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="input-group mb-3">
      <span class="input-group-text">이름</span>
      <input name="uid" value="<%=user.uid%>" type="hidden" />
      <input name="uname" class="form-control" value="<%=user.uname%>" />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">전화번호</span>
      <input name="phone" class="form-control" value="<%=user.phone%>" />
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text">주소</span>
      <input name="address1" class="form-control" value="<%=user.address1%>" />
      <button id="search" class="btn btn-primary" type="button">
        주소검색
      </button>
    </div>

    <div>
      <input
        name="address2"
        class="form-control"
        placeholder="상세주소"
        value="<%=user.address2%>"
      />
    </div>
    <div>
      <img
        id="photo"
        class="mb-2"
        src="http://via.placeholder.com/150x150"
        width="150px"
      />
      <input type="file" name="file" class="form-control" />
      <input name="photo" value="<%=user.photo%>" type="hidden" />
    </div>
    <div class="text-center my-3">
      <button class="btn btn-primary">수정</button>
      <button class="btn btn-secondary" type="reset">취소</button>
    </div>
  </form>
</div>
<script>
  const photo = "<%=user.photo%>";
  if (photo) {
    $("#photo").attr("src", "/upload/photo/" + photo);
  } else {
    $("#photo").attr("src", "http://via.placeholder.com/150x150");
  }
  // 파일이 바뀐 경우
  $(frm.file).on("change", function (e) {
    $("#photo").attr("src", URL.createObjectURL(e.target.files[0]));
  });
  //수정버튼을 눌렀을때
  $(frm).on("submit", function (e) {
    e.preventDefault();
    const uid = $(frm.uid).val();
    const uname = $(frm.uname).val();
    const phone = $(frm.phone).val();
    const address1 = $(frm.address1).val();
    const address2 = $(frm.address2).val();
    if (confirm("변경된 내용을 저장하실래요?")) frm.submit();
  });

  //주소검색버튼을 클릭한 경우
  $("#search").on("click", function () {
    new daum.Postcode({
      oncomplete: function (data) {
        console.log(data);
        if (data.buildingName != "") {
          $(frm.address1).val(data.address + " " + data.buildingName);
        } else {
          $(frm.address1).val(data.address);
        }
      },
    }).open();
  });
</script>
